<?xml version="1.0" ?>
<!--
  ~ @author     Sashas IT Support <support@sashas.org>
  ~ @copyright  2018  Sashas IT Support Inc. (http://www.extensions.sashas.org)
  ~ @license     http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Model\Order\Email\SenderBuilder" type="Sashas\BugFromEmail\Rewrite\Sales\Model\Order\Email\SenderBuilder" />
    <preference for="Magento\Framework\Mail\Template\TransportBuilder" type="Sashas\BugFromEmail\Rewrite\Framework\Mail\Template\TransportBuilder" />
</config>
